{% extends "layout.html" %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-4">ProjectMan, Everyone's favourite project manager</h1>
  <p class="lead">You may be an electronics hobbyist or a programmer, this project helps you manage all your projects at one place.</p>
  <hr class="my-4">
  <p>It lists your projects and tells you which all you have completed and what is the progress of your undergoing projects.</p>
  <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
</div>

{% endblock %}